<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href='http://fonts.googleapis.com/css?family=Orbitron:900' rel='stylesheet' type='text/css'>

  <style>
    .linkbox {
      float: right;
      display: inline-block;
      border: 1px solid black;
      padding: 5px 20px;
      font-style: normal;
      font-size: 20px;
    }
    <%= css %>
  </style>
</head>
<body>

<div class="logo">projectWIKI</div>

<span class="linkbox">
<a href="/doc/main">main</a>
<a href="/docs/new">new</a>
<% if (editable) { %><a href="/doc/<%= title %>/edit">edit</a><% } %>
</span>
<span class="linkbox">
<% if (user.username === "guest") { %>
  <a href="/users/new">create new account</a>
  <a href="/users/login">login</a>
<% } else { %>
  <%= user.username %>
  <a href="/users/logout">logout</a>
<% } %>
</span>
<!-- <p>user: <%= JSON.stringify(user) %></p> -->