<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wiki-mazing</title>
</head>
<body>
<% include partials/header %>

<ul>
<% docs.forEach( function(doc) { %>
  <li><a href="/doc/<%= doc.title %>"><%= doc.title %></a></li>
<% }); %>
</ul>
</body>
</html>