<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Edit</title>
</head>
<body>

<form action="<%= formaction %>" method="POST">
<p><label for="name">name</label><input type="text" name="name"></p>
<p><label for="email">email</label><input type="text" name="email"></p>
<p><label for="username">username</label><input type="text" name="username"></p>
<p><label for="password">password</label><input type="text" name="password"></p>
<p><button type="submit">submit</button></p>
</form>
  
</body>
</html>