<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Login</title>
</head>
<body>

<p><a href="<%= user.prevpage %>">back</a></p>

<% if (user.loginmessage.length > 0) { %> <h2><%= user.loginmessage %></h2> <% } %>

<form method="POST" action="/users/login">
<p><input name="username" type="text" placeholder="username"></p>
<p><button type="submit">log in</button></p>
</form>

<p><a href="/users/new">Create an account</a></p>
  
</body>
</html>