<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Login</title>
</head>
<body>

<form method="POST" action="/users/login">
<p><input name="username" type="text" placeholder="username"></p>
<p><button type="submit">log in</button></p>
</form>
  
</body>
</html>