<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>New Doc</title>
</head>
<body>
  
  <% include ../partials/header %>

  <form method="POST" action="/docs">
  <ul>
    <li><label for="title">title</label><input type="text" name="title"></li>
    <li><label for="body">body</label><textarea name="body"></textarea></li>
    <li><button type="submit">submit</button></li>
  </ul>
  </form>
</body>
</html>